<a href="https://colab.research.google.com/github/AliyevaO/sales_predictions/blob/main/Project_1_Part_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
filename = '/content/drive/MyDrive/Bootcamp/01 Week_ Python/sales_predictions.csv'

In [4]:
#checking a head of a DataFrame
sales_predictions = pd.read_csv(filename)
sales_predictions.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [20]:
#checking how many rows and columns are in a DataFrame (Option 1)
sales_predictions.shape

(8523, 12)

In [5]:
#checking how many rows and columns are in a DataFrame (Option 2)
sales_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [6]:
#checking for duplicates
sales_predictions.duplicated().sum()

0

In [7]:
#checking for missing values and columns in which we have it
sales_predictions.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [8]:
#filling missing rows in Column 'Outlet_Size' with 'Missing', best way in my opinion to do it without losing data.
outlet_size_missing = sales_predictions['Outlet_Size'].fillna('Missing')

In [9]:
sales_predictions['Outlet_Size'].fillna(value=outlet_size_missing, inplace=True)

In [10]:
#filling missing rows in Column 'Item_Weight' with average value of the Column.

mean_value = sales_predictions['Item_Weight'].mean()

In [11]:
sales_predictions['Item_Weight'].fillna(value=mean_value, inplace=True)

In [12]:
#checking if there is any missing data left
sales_predictions.isna().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [13]:
#checking column for inconsistent categories of data
sales_predictions['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [14]:
#renaming inconsistent categories
sales_predictions['Item_Fat_Content'] = sales_predictions['Item_Fat_Content'].replace(['low fat'],'Low Fat')

In [15]:
sales_predictions['Item_Fat_Content'] = sales_predictions['Item_Fat_Content'].replace(['LF'],'Low Fat')

In [16]:
sales_predictions['Item_Fat_Content'] = sales_predictions['Item_Fat_Content'].replace(['reg'],'Regular')

In [17]:
sales_predictions['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [18]:
#obtaining the summary statistics of each numerical columns 
sales_predictions.describe()

       Item_Weight  ...  Item_Outlet_Sales
count  8523.000000  ...        8523.000000
mean     12.857645  ...        2181.288914
std       4.226124  ...        1706.499616
min       4.555000  ...          33.290000
25%       9.310000  ...         834.247400
50%      12.857645  ...        1794.331000
75%      16.000000  ...        3101.296400
max      21.350000  ...       13086.964800

[8 rows x 5 columns]